
.header {
  position: fixed;
  top: 0px;
  background-color: black;
  text-align: center;
  width: 100%;
  overflow: hidden;
  padding: 20px 10px;
}
.header a {
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.headlogo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 140px;
  margin-right: auto;
}

.headerRight {
  float: right;
}
.headerLeft {
  float: left;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  color: white;
  margin-top: 76px;
  margin-bottom: 70px;
}
.box {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

 
.buttons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons::after {
  clear: both;
}

.buttons Button{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  width: 120px;
}

.calculator {
  border: black solid 0px;
  border-radius: 10px;
  width: auto;
  height: auto;
}
.typebox {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.livecoinwatch {
  width: auto;
  display: flex;
  justify-content: center;
}

.textfield {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
}

.changebutton {
  width: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.changebutton Button{
  width: 380px;
}



.footer {
  background-color: black;
  width: 100%;
  height: 70px;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0; 
  left: 0; 
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  letter-spacing: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding-left: 30px;
  height: 25px;
}

